<nav class="chatrooms">
  <ul>
    <li>Chat 1</li>
    <li>Chat 2 </li>
    <li>Chat 3</li>
  </ul>


</nav>

<section class="chat-box">

</section>

<section class="outputMessage">
  <textarea form="text" name="outputMessage" cols="50" rows="50"> </textarea>
  </section>

<section class="enterMessage">

  <form class="input-messages">
<textarea class="message" form="text" name="enterMessage" cols="50" rows="2" placeholder="Type your message here"> </textarea>
<input id="submit" type="submit" value="Submit Message">
</form>

</section>
