@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../bower_components/neat/app/assets/stylesheets/neat';

// Typography
$base-font-family: $helvetica;

// Colors
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$very-light-gray: #fafafa;

$base-font-color: $dark-gray;
$base-background-color: $very-light-gray;

body {
  font-family: $base-font-family;
  background-color: $base-background-color;
  color: $base-font-color;
  @include outer-container;
  background-color: $medium-gray;
}

.login-form {
  @include span-columns(2);
  @include shift(4.5);
  margin-top: 300px;
  vertical-align: middle;
  text-align: center;

  #submit {
    background-color:white;
    color: teal;
  }

  .login-form-usernme {
    border-radius: 5px;
    color: teal;
  }
}
